USE [master]
GO
/****** Object:  Database [TourDB_SE130651]    Script Date: 05/09/2019 08:09:53 PM ******/
CREATE DATABASE [TourDB_SE130651]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE130651_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SE130651_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SE130651_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SE130651_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourDB_SE130651].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourDB_SE130651]
GO
USE [TourDB_SE130651]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 05/09/2019 08:09:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Fullname] [varchar](100) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Address] [varchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 05/09/2019 08:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [varchar](200) NOT NULL,
	[TourID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 05/09/2019 08:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [varchar](50) NOT NULL,
	[TouristID] [varchar](50) NOT NULL,
	[BookDate] [datetime] NOT NULL,
	[TicketPrice] [float] NOT NULL,
	[ContactID] [varchar](200) NOT NULL,
	[BookedBy] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 05/09/2019 08:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[ID] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Destination] [varchar](50) NOT NULL,
	[TicketPriceForInfant] [float] NOT NULL,
	[TicketPriceForChild] [float] NOT NULL,
	[TicketPriceForAdult] [float] NOT NULL,
	[SeatAvailable] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[Image] [varchar](200) NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tourist]    Script Date: 05/09/2019 08:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourist](
	[Passport] [varchar](50) NOT NULL,
	[Nationality] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tourist] PRIMARY KEY CLUSTERED 
(
	[Passport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Gender], [Birthday], [Address], [Phone], [Email], [IsAdmin]) VALUES (N'admin', N'12345678', N'Admin', 1, CAST(N'1991-02-28T00:00:00.000' AS DateTime), N'Ho Chi Minh City', N'0907709907', N'admin@admin.com', 1)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Gender], [Birthday], [Address], [Phone], [Email], [IsAdmin]) VALUES (N'admin1', N'12345678', NULL, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Gender], [Birthday], [Address], [Phone], [Email], [IsAdmin]) VALUES (N'test1', N'12345678', NULL, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Contact] ([ContactID], [TourID], [Name], [Address], [Email], [Phone]) VALUES (N'America-USA-2019-05-03-2019-05-17-Ahsa-123123-abc@acv.com-1231231231', N'America-USA-2019-05-03-2019-05-17', N'Ahsa', N'123123', N'abc@acv.com', N'1231231231')
INSERT [dbo].[Contact] ([ContactID], [TourID], [Name], [Address], [Email], [Phone]) VALUES (N'America-USA-2019-05-03-2019-05-17-contact-address-abc@abc.com-0123456789', N'America-USA-2019-05-03-2019-05-17', N'contact', N'address', N'abc@abc.com', N'0123456789')
INSERT [dbo].[Contact] ([ContactID], [TourID], [Name], [Address], [Email], [Phone]) VALUES (N'America-USA-2019-05-03-2019-05-17-name-DMC-dante@dante.com-phone', N'America-USA-2019-05-03-2019-05-17', N'name', N'DMC', N'dante@dante.com', N'phone')
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [TourID], [TouristID], [BookDate], [TicketPrice], [ContactID], [BookedBy], [Status]) VALUES (15, N'Asia-Japan-2019-07-07-2019-07-21', N'321608645', CAST(N'2019-03-17T00:00:00.000' AS DateTime), 2500, N'Asia-Japan-2019-07-07-2019-07-21-Nero-Quang Trung Software City-truongvlit@gmail.com-0332987559', N'user', 0)
INSERT [dbo].[Ticket] ([TicketID], [TourID], [TouristID], [BookDate], [TicketPrice], [ContactID], [BookedBy], [Status]) VALUES (16, N'Asia-Japan-2019-07-07-2019-07-21', N'999999999', CAST(N'2019-03-17T00:00:00.000' AS DateTime), 3500, N'Asia-Japan-2019-07-07-2019-07-21-Nero-Quang Trung Software City-truongvlit@gmail.com-0332987559', N'user', 0)
INSERT [dbo].[Ticket] ([TicketID], [TourID], [TouristID], [BookDate], [TicketPrice], [ContactID], [BookedBy], [Status]) VALUES (17, N'Asia-Japan-2019-07-07-2019-07-21', N'321321321', CAST(N'2019-03-17T00:00:00.000' AS DateTime), 3500, N'Asia-Japan-2019-07-07-2019-07-21-Nero-Quang Trung Software City-truongvlit@gmail.com-0332987559', N'user', 0)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
INSERT [dbo].[Tour] ([ID], [Category], [Name], [StartTime], [EndTime], [Destination], [TicketPriceForInfant], [TicketPriceForChild], [TicketPriceForAdult], [SeatAvailable], [Description], [Image]) VALUES (N'America-USA-2019-04-30-2019-09-05', N'America', N'USA', CAST(N'2019-04-30T00:00:00.000' AS DateTime), CAST(N'2019-09-05T00:00:00.000' AS DateTime), N'New York', 2500, 3500, 7000, 10, NULL, N'2.jpg')
INSERT [dbo].[Tour] ([ID], [Category], [Name], [StartTime], [EndTime], [Destination], [TicketPriceForInfant], [TicketPriceForChild], [TicketPriceForAdult], [SeatAvailable], [Description], [Image]) VALUES (N'America-USA-2019-05-03-2019-05-17', N'America', N'USA', CAST(N'2019-05-03T00:00:00.000' AS DateTime), CAST(N'2019-05-17T00:00:00.000' AS DateTime), N'Washington DC, New York', 3000, 4500, 9000, 7, NULL, N'3.jpg')
INSERT [dbo].[Tour] ([ID], [Category], [Name], [StartTime], [EndTime], [Destination], [TicketPriceForInfant], [TicketPriceForChild], [TicketPriceForAdult], [SeatAvailable], [Description], [Image]) VALUES (N'America-USA-2019-05-30-2019-06-14', N'America', N'USA', CAST(N'2019-05-30T00:00:00.000' AS DateTime), CAST(N'2019-06-14T00:00:00.000' AS DateTime), N'Los Angeles', 2750, 4000, 8000, 10, NULL, N'1.jpg')
INSERT [dbo].[Tourist] ([Passport], [Nationality], [Name], [Address], [Gender], [Phone]) VALUES (N'123', N'qwe', N'name1', N'qwe', N'Female', N'0999999999')
INSERT [dbo].[Tourist] ([Passport], [Nationality], [Name], [Address], [Gender], [Phone]) VALUES (N'12313123', N'England', N'Dante', N'DMC', N'Male', N'1231231231')
INSERT [dbo].[Tourist] ([Passport], [Nationality], [Name], [Address], [Gender], [Phone]) VALUES (N'1232312323', N'England', N'Dante', N'England', N'Male', N'0999999999')
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Gender]  DEFAULT ((1)) FOR [Gender]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Person_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [DF_Ticket_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_Tour]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Account] FOREIGN KEY([BookedBy])
REFERENCES [dbo].[Account] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Account]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Contact] FOREIGN KEY([ContactID])
REFERENCES [dbo].[Contact] ([ContactID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Contact]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Tour]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Tourist] FOREIGN KEY([TouristID])
REFERENCES [dbo].[Tourist] ([Passport])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Tourist]
GO
USE [master]
GO
