<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAccountController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.LoginAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountMainController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.AccountMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourMainController</servlet-name>
        <servlet-class>truongvl.tours.controllers.TourMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAccountController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.LogoutAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupAccountController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.SignupAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.InsertTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.UpdateTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.DeleteTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.UserSearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>truongvl.index.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>truongvl.tickets.controllers.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking1Controller</servlet-name>
        <servlet-class>truongvl.tickets.controllers.Booking1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking2Controller</servlet-name>
        <servlet-class>truongvl.tickets.controllers.Booking2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketMainController</servlet-name>
        <servlet-class>truongvl.tickets.controllers.TicketMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPurchasedTicketController</servlet-name>
        <servlet-class>truongvl.tickets.controllers.SearchPurchasedTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTouristInfoController</servlet-name>
        <servlet-class>truongvl.tourists.controllers.GetTouristInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TouristMainController</servlet-name>
        <servlet-class>truongvl.tourists.controllers.TouristMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>truongvl.accounts.controllers.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTicketController</servlet-name>
        <servlet-class>truongvl.tickets.controllers.LoadTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckTicketController</servlet-name>
        <servlet-class>truongvl.tickets.controllers.CheckTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourController</servlet-name>
        <servlet-class>truongvl.tours.controllers.EditTourController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAccountController</servlet-name>
        <url-pattern>/LoginAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountMainController</servlet-name>
        <url-pattern>/AccountMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourMainController</servlet-name>
        <url-pattern>/TourMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAccountController</servlet-name>
        <url-pattern>/LogoutAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupAccountController</servlet-name>
        <url-pattern>/SignupAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourController</servlet-name>
        <url-pattern>/InsertTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourController</servlet-name>
        <url-pattern>/UpdateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourController</servlet-name>
        <url-pattern>/DeleteTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/SearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchTourController</servlet-name>
        <url-pattern>/destinations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking1Controller</servlet-name>
        <url-pattern>/Booking1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking2Controller</servlet-name>
        <url-pattern>/Booking2Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketMainController</servlet-name>
        <url-pattern>/TicketMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPurchasedTicketController</servlet-name>
        <url-pattern>/SearchPurchasedTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTouristInfoController</servlet-name>
        <url-pattern>/GetTouristInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TouristMainController</servlet-name>
        <url-pattern>/TouristMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/EditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTicketController</servlet-name>
        <url-pattern>/LoadTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckTicketController</servlet-name>
        <url-pattern>/CheckTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourController</servlet-name>
        <url-pattern>/EditTourController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
</web-app>
