html,body {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;	
}

.container {
	height: 100%;
	align-content: center;
}

.card {	
	margin-top: auto;
	margin-bottom: auto;
	width: 800px;
	height: 500px;
	background-color: rgba(0,0,0,0.8) !important;
}

.card-header h2 {
	display: flex;
	justify-content: center;
	color: #FFC312;
}

.input-group-prepend span {
	width: 100px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

input:focus {
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.btn-login {
	position: absolute;
	bottom: 75px;
	left: 340px;	
	color: black;
	background-color: #FFC312;
	width: 120px;
}

.btn-login:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 5px;
}

a:hover {
	color: white !important;	
}

.right-side {	
	float: right;
	margin-top: -248px
}

.ckb {
	margin-right: 10px;
	height: 25px;
	width: 25px;	
}

.term-condition {
	position: relative;
	top: 13px;
}

.disabled-button {
	background-color: rgba(220,220,220,0.3);
	cursor: default !important;
	pointer-events: none !important;
}

::-webkit-input-placeholder {
  color: peachpuff;
  font-size: 13px;
}
::-moz-placeholder {
  color: peachpuff;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: peachpuff;
  font-size: 13px;
}
::placeholder {
  color: peachpuff;
  font-size: 13px;
}